/* html{ 
    height: 100vh;
} */
body{ 
     height: 100%;
    width: 100%;
    /* background-color: rgb(159, 229, 240); */
    /* margin: 0; */
    padding: 4px;

}
/* 
input { 

    color: aliceblue;
    background-color: rebeccapurple;
} */
.page  { 
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: columns;
    justify-content: center;
    align-content: center;
    /* padding: 50px; */
     /* padding-top: 10%; */
}
 .formcontainer{ 
    width: 70%;


}
label{ 
    width: 30%;
    display: flex;
    margin-left: 4px;
}

.my-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* margin-bottom: 10px; */
    /* flex-wrap: nowrap; */

}
/* .form-container{  */
    /* height: 80%; */
/* } */


input{ 
    /* margin: 10px; */
    display: inline-block;
    width: 80% !important;
    margin: auto;
    align-self: center;
    justify-self: center;


} 
input[type="text"] { 
 /* border : 4px solid white; */
 border-radius: 4px;

}
input[type="password"] { 
    /* border : 4px solid white; */
    border-radius: 4px;

   
   }
   input[type="email"] { 
    /* border : 4px solid white; */
    border-radius: 4px;

   
   }

 form { 
  /* height: 100%; */
  /* width: 100%;   */
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
 
  /* padding: 10%; */
  max-height: 90vh;
} 

.my-btn {
    /* width: 20%; */
    align-self: center;
    /* margin-top: 5%; */
}

